.about-page {
  padding: 50px;
}

.about-hero {
  text-align: center;
  margin-bottom: 70px;
}

.about-hero h1 {
  font-size: 75px;

  margin-bottom: 20px;

  font-family: "Trebuchet MS", sans-serif;

  background: linear-gradient(135deg, #3335c1, #6febeb);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 12px rgba(111, 113, 235, 0.4);
}

.about-hero p {
  max-width: 850px;
  margin: auto;
  font-size: 24px;
  line-height: 1.7;
  color: rgb(46, 220, 255);
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

/* GRID */

.about-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 30px;
}

/* CARD */

.about-card {
  padding: 35px;

  border-radius: 35px;

  background: rgba(255, 255, 255, 0.12);

  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.16);

  transition: 0.35s;

  text-align: center;

  position: relative;

  overflow: hidden;
}


.about-card::before {
  content: "";

  position: absolute;

  inset: 0;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.12), transparent);

  pointer-events: none;
}


.about-card:hover {
  transform: translateY(-10px) rotate(-1deg);

  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}


.about-icon {
  font-size: 60px;

  margin-bottom: 20px;
}

.about-card h2 {
  color: white;

  font-size: 32px;

  margin-bottom: 16px;
}


.about-card p {
  color: rgba(83, 43, 28, 0.82);

  line-height: 1.7;

  font-size: 17px;
}

/* RESPONSIVE */

@media (max-width: 700px) {
  .about-page {
    padding: 25px;
  }

  .about-hero h1 {
    font-size: 52px;
  }

  .about-hero p {
    font-size: 18px;
  }
}
