.recommended-section {
  width: 95%;
  margin: 40px auto;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 35px;
  background: rgba(235, 234, 234, 0.5);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  overflow: visible;
}

.recommended-title {
  text-align: center;
  font-size: 55px;
  margin-bottom: 35px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(135deg, #3593ff, #7037ff, #2b32ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 10px rgba(111, 132, 235, 0.4),
    0 0 20px rgba(101, 166, 192, 0.3);
  animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

.recommended-subtitle {
  text-align: center;
  font-size: 15px;
  margin-bottom: 35px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 10px rgba(111, 132, 235, 0.4),
    0 0 20px rgba(101, 166, 192, 0.3);
  animation: glow 3s ease-in-out infinite alternate;
}

.recommended-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.recommended-scroll::-webkit-scrollbar {
  height: 10px;
}

.recommended-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.recommended-card {
  min-width: 280px;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.recommended-card:hover {
  transform: scale(1.03);
}

.recommended-card img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.post-info {
  position: absolute;

  bottom: 0;

  width: 100%;

  padding: 20px;

  box-sizing: border-box;

  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));

  color: white;
}

.interest-card span {
  color: aqua;
}

.recommended-divider {
  height: 1px;
  width: 100%;
  margin: 40px 0;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(28, 200, 238, 0.8),
    transparent
  );
}
