body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  background:
    radial-gradient(circle at top left, #1c3faa 0%, transparent 35%),
    radial-gradient(circle at bottom right, #27b7ff 0%, transparent 35%),
    linear-gradient(
      180deg,
      #081b4b 0%,
      #0d2b75 40%,
      #1570ef 100%
    );

  color: white;
}

.welcome-section {
  max-width: 800px;
  margin: 80px auto;
  text-align: center;
  padding: 40px;
  background-color: #081b4b7c;
  border-radius: 17px;
}

.welcome-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 10px;
}
